/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --imperial-red: hsla(355, 78%, 56%, 1);
  --honeydew: hsla(105, 55%, 96%, 1);
  --powder-blue: hsla(182, 43%, 76%, 1);
  --celadon-blue: hsla(203, 39%, 44%, 1);
  --prussian-blue: hsla(215, 50%, 23%, 1);
  --light-gray: hsl(235, 15%, 70%);
  --purple: hsl(230, 33%, 21%);
  --background-color: var(--purple);
  --text-color: var(--light-gray);
  --link-color: var(--imperial-red);
  --active-link-color: var(--celadon-blue);
  --content-max-width: 50rem;
}

.site-header h1 {
  text-align: center;
}

.site-footer {
  background-color: var(--imperial-red);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
  hyphens: auto;
}

.content-width {
  max-width: var(--content-max-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

main {
  padding: 1rem;
}

h1,
h2,
h3,
h4 {
  color: #fffffe;
  font-family: sans-serif;
}

button {
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1.2rem;
  background: orange;
  color: #0f0e17;
  border: none;
  box-shadow: none;
  margin: 0.5rem;
  font-weight: bold;
}
button[disabled] {
  background: #a7a9be;
}

a {
  color: var(--link-color);
}
a:hover, a:focus {
  color: var(--active-link-color);
}

.color-boxes__wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
}
.color-boxes__box {
  background-color: hsl(var(--hue), var(--saturation), 50%);
}
.color-boxes__box div {
  padding-bottom: 100%;
}

@font-face {
  font-family: "Gilbert";
  src: url("/fonts/Gilbert-Color.otf");
}
.input-demo label {
  display: block;
  color: white;
  font-size: 1.5rem;
}

.text-box {
  font-family: Gilbert;
  font-size: 8rem;
  text-align: center;
}

.color-box {
  width: 10rem;
  height: 10rem;
  margin: 2rem auto;
  border-radius: 1rem;
  border: 0.1rem solid black;
  display: grid;
  place-content: center;
  background-color: hsl(var(--hue), 70%, 50%);
}
.color-box span {
  color: black;
  font-size: 2rem;
}

.mood__image {
  font-size: 5rem;
  text-align: center;
}

.mood__buttons {
  display: flex;
  justify-content: center;
}
.mood__buttons button {
  width: 10rem;
}

.emoji {
  font-size: var(--size, 2rem);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 1rem;
}
.image-grid img {
  max-width: 100%;
  height: auto;
}

.gallery {
  width: 100%;
  max-width: 40rem;
}
.gallery__big-image img {
  width: 100%;
  height: auto;
}

.gallery .thumbnails {
  margin: 1rem 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
}
.gallery .thumbnails__button {
  margin: 0;
  border: none;
  padding: 0;
}
.gallery .thumbnails__button img {
  display: block;
  width: 100%;
  height: auto;
  filter: grayscale(0.9);
  transition: all 0.2s ease-out;
}
.gallery .thumbnails__button--active img {
  filter: grayscale(0);
  transform: scale(1.05);
}
.gallery .thumbnails__button:hover img, .gallery .thumbnails__button:focus img {
  filter: grayscale(0);
  transform: scale(1.05);
}

.pioneers__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 2rem;
}

.pioneer__biography {
  font-size: 1.2rem;
  line-height: 1.2;
}
.pioneer h3 {
  font-size: 2.5rem;
}
.pioneer h3 a {
  color: #f25f4c;
}
.pioneer h3 a:hover, .pioneer h3 a:focus {
  color: #e53170;
}
.pioneer em {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: block;
  background-image: linear-gradient(90deg, yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pioneer img {
  width: 100%;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../sass/_normalize.scss%22,%22../sass/_variables.scss%22,%22../sass/_header.scss%22,%22../sass/_footer.scss%22,%22../sass/_layout.scss%22,%22../sass/_links.scss%22,%22../sass/components/_colorBoxes.scss%22,%22../sass/components/_input.scss%22,%22../sass/components/_moodToggle.scss%22,%22../sass/components/_jsxDemo.scss%22,%22../sass/components/_thumbnails.scss%22,%22../sass/components/_pioneers.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AAEA;AAAA;AAAA;AAAA;AAKA;AAAA;AAAA;AAIA;AAAA;AAAA;EAGE;;;AAGF;AAAA;AAAA;AAAA;AAAA;AAMA;EACE;EACA;EACA;EACA;;;AAGF;AAAA;AAAA;AAAA;AAKA;AAAA;AAAA;AAAA;AAKA;EACE;EACA,gIAEuE;;;AAGzE;AAAA;AAAA;AAAA;AAKA;AAAA;AAAA;AAAA;AAKA;EACE;EACA;;;AAGF;AAAA;AAAA;AAAA;AAKA;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAIA;AAAA;EAEE;;;AAGF;AAAA;AAAA;AAAA;AAKA;AAAA;AAAA;AAAA;EAIE,0FACa;EACb;;;AAGF;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAIA;AAAA;EAEE;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;AAAA;AAAA;AAAA;AAKA;AAAA;AAAA;AAAA;AAKA;EACE;EACA;;;AAGF;AAAA;AAAA;AAAA;AAKA;AAAA;AAAA;AAAA;AAKA;AAAA;AAAA;AAAA;AAAA;EAKE;EACA;EACA;EACA;;;AAGF;AAAA;AAAA;AAIA;AAAA;EAEE;;;AAGF;AAAA;AAAA;AAIA;AAAA;AAAA;AAAA;EAIE;;;AAGF;AAAA;AAAA;AAIA;EACE;EACA;;;AAGF;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAAA;AAKA;EACE;;;AAGF;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAIA;AAAA;EAEE;;;AAGF;AAAA;AAAA;AAAA;AAKA;EACE;EACA;;;AAGF;AAAA;AAAA;AAIA;EACE;;;AAGF;AAAA;AAAA;AAAA;AAKA;EACE;EACA;;;AAGF;AAAA;AAAA;AAAA;AAKA;AAAA;AAAA;AAIA;EACE;;;AC9QF;EACC;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;;;ACbC;EACE;;;ACFJ;EACE;;;ACDF;EACC;EACA;EACA;EACA;;;AAGD;EACC;EACA;EACA;EACA;;;AAGD;EACC;;;AAGD;AAAA;AAAA;AAAA;EAIC;EACA;;;AAGD;EACC;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;;;ACtCF;EACE;;AACA;EAEE;;;ACHF;EACE;EACA;EACA;;AAGF;EACE;;AAEA;EACE;;;ACXN;EACC;EACA;;AAIA;EACC;EACA;EACA;;;AAIF;EACC;EACA;EACA;;;AAGD;EACC;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AACA;EACC;EACA;;;AC9BF;EACE;EACA;;;AAGF;EACE;EACA;;AAEA;EACE;;;ACVJ;EACE;;;AAGF;EACE;EACA;EACA;;AAEA;EACE;EACA;;;ACXJ;EACE;EACA;;AAEA;EACE;EACA;;;AAIJ;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAIA;EACE;EACA;;AAIJ;EAEE;EACA;;;ACtCJ;EACE;EACA;EACA;;;AAKF;EACE;EACA;;AAGF;EACE;;AAEA;EACE;;AAEA;EAEE;;AAKN;EACE;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE%22,%22file%22:%22style.css%22%7D */
